

html, body {  position: relative; height: 100%; }

div { /*margin: 1px;*/}

#grid { position: relative; margin: 0 auto; }


.row { /*overflow-x: hidden;*/ height: 7px; position: relative; margin: 1px; }

.blank { display: inline-block; width: 7px; height: 100%; background-color: ; margin: 0.5px;}

.red {background-color: red}

.rainbow {
	background-color:rgb({r},{g},{b});
}

.blue {background-color: blue}

.circle {border-radius: 100%;}

.joshua {background-image: url('http://www.buckybox.com/images/team-joshua-63101086.jpg'); border-radius: 100%;background-size: cover; }



