html, body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
}

div { /*margin: 1px;*/}

#grid {  height: 100%; width: 50%; position: relative; margin: 0 auto; float: left; }
#canvas { height: 100%; width: 50%; position: relative; float: right;}


.row { /*overflow-x: hidden;*/ height: 7px; position: relative; margin: 1px; }

.blank { display: inline-block; width: 15px; height: 15px; background-color: #ccc; margin: 0.5px;}

.red {background-color: #cc0000; opacity: 0.7;}

.blue {background-color: #000099; opacity:0.7;}

.circle {border-radius: 100%;}

.joshua {width: 25px; height: 25px; background-image: url('http://www.buckybox.com/images/team-joshua-63101086.jpg'); border-radius: 100%;background-size: cover; }

.rainbow {
    background-color: rgb({r},{g},{b});
    display:inline-block;
    width:7px;
    height:7px;
    padding: 0px;
    margin: 0px;

}

#joshuaDiv {
  display: hidden;
}
.big {
  width: 75px; height: 75px;
}


